@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-quai-navy text-slate-50;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Inter", sans-serif;
}

a {
  @apply text-quai-teal;
}


